body {
background-color: black;
    font-family: Verdana,sans-serif;
color: brown;

}

.asd{
background-color: whitesmoke;
width: 100%;
    text-align: center;
margin: auto;
padding: 30px;
}

.asd button{
background: brown;
margin: auto;
padding: 10px 20px;
color: white;
font-family: cursive;
}

#textt{
padding: 10px 20px;
}

#ssss{
background-color: brown;
color: white;
height: 500px;
padding: 10px;
        text-align: center;
}